
.Main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-right: 200px;
  font-weight: 300;
  background-color: white; 
}
h1, .Creator  {
  margin-left: 900px;
}
.Top  {
  padding: 10px;
  margin: 20px;
}
.Left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px dotted black;
  margin-right: 10px;
}
.Right  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border: 1px dotted black;
}
.Find {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
}
.Current{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 100;
  padding: 20px;
}
.Degree {
  margin: 10px;
}
img {
  padding: 20px;
  height: 650px;
}
/* .Small {
  color: red;
}
.Loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid rgb(90, 89, 89);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: 10px auto;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */
.Btn  {
  padding: 20px;
}
.Days {
  display: flex;
  flex-direction: row;
}
.OneDay {
  margin: 5px;
  font-weight: 500;
}