
.Main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-right: 200px;
  font-weight: 300;
  background-color: white; 
}
h1, .Creator  {
  margin-left: 900px;
}
.Top  {
  padding: 10px;
  margin: 20px;
}
.Left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px dotted black;
  margin-right: 10px;
}
.Right  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border: 1px dotted black;
}
.Find {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
}
.Current{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 100;
  padding: 20px;
}
.Degree {
  margin: 10px;
}
img {
  padding: 20px;
  height: 650px;
}
.Btn  {
  padding: 20px;
}
